# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.tv.tavernfire.spotify.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\ryant\source\repos\tv.tavernfire.spotify\.idea\.idea.tv.tavernfire.spotify\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
